	activities/
	applications.csv
	blocks.csv
	categories_of_personal_information_we_collect.pdf
	comments.csv
	components.csv
	connected_apps.csv
	contacts.csv
	email_preferences.csv
	events.csv
	favorites.csv
	flags.csv
	followers.csv
	following.csv
	general_preferences.csv
	goals.csv
	information_we_disclose_for_a_business_purpose.pdf
	kudos.csv
	logins.csv
	memberships.csv
	metering.csv
	mobile_device_identifiers.csv
	orders.csv
	partner_opt_outs.csv
	photos.csv
	privacy_zones.csv
	social_settings.csv
	support_tickets.csv
	visibility_settings.csv
